In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd

# Extract

In [34]:
#my sample google sheet
sheet_id = '1xo1_DZEVBiVz39S5Ln3CSnagbPE78cvBDKtwqtC3hKI'
sheet_names = ['Contacts','Business','Cases','Bank_Account','Withdraw_Info']

#extract all tables from the sheet
contact_url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet=Contacts"
df_contact = pd.read_csv(contact_url)

business_url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet=Business"
df_business = pd.read_csv(business_url)

case_url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet=Cases"
df_case = pd.read_csv(case_url)

bank_url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet=Bank_Account"
df_bank = pd.read_csv(bank_url)

withdraw_url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet=Withdraw_Info"
df_withdraw = pd.read_csv(withdraw_url)

In [35]:
df_business

,business_id,contact_id,business_name,business_health,business_location,business_industry
0,B001,C001,bname_001,good,Yangon,Retail
1,B002,C002,bname_002,dying,Yangon,Service
2,B003,C003,bname_003,normal,Yangon,Transport
3,B004,C004,bname_004,died,Yangon,Health
4,B005,C005,bname_005,good,Yangon,Education
5,B006,C006,bname_006,dying,Yangon,Finance
6,B007,C007,bname_007,normal,Yangon,Agriculture
7,B008,C008,bname_008,died,Yangon,Construction
8,B009,C009,bname_009,good,Yangon,Retail
9,B010,C010,bname_010,dying,Yangon,Service
10,B011,C011,bname_011,normal,Yangon,Transport
11,B012,C012,bname_012,died,Yangon,Health
12,B013,C013,bname_013,good,Yangon,Education
13,B014,C014,bname_014,dying,Yangon,Finance
14,B015,C015,bname_015,normal,Yangon,Agriculture
15,B016,C016,bname_016,died,Yangon,Construction
16,B017,C017,bname_017,good,Yangon,Retail
17,B018,C018,bname_018,dying,Yangon,Service
18,B019,C019,bname_019,normal,Yangon,Transport
19,B020,C020,bname_020,died,Yangon,Health