In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd

# Extract

In [28]:
#my sample google sheet
sheet_id = '1xo1_DZEVBiVz39S5Ln3CSnagbPE78cvBDKtwqtC3hKI'
sheet_names = ['Contacts','Business','Cases','Bank_Account','Withdraw_Info']

#extract all tables from the sheet
contact_url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet=Contacts"
df_contact = pd.read_csv(contact_url)

business_url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet=Business"
df_business = pd.read_csv(business_url)

In [29]:
df_business

Empty DataFrame
Columns: [business_id]
Index: []