In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import pandas as pd

# Extract

In [5]:
#my sample google sheet
sheet_id = '1xo1_DZEVBiVz39S5Ln3CSnagbPE78cvBDKtwqtC3hKI'
sheet_names = ['Contacts','Business','Cases','Bank_Account','Withdraw_Info']

#extract all tables from the sheet
contact_url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet=Contacts"
df_contact = pd.read_csv(contact_url)

business_url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet=Business"
df_business = pd.read_csv(business_url)

case_url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet=Cases"
df_case = pd.read_csv(case_url)

bank_url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet=Bank_Account"
df_bank = pd.read_csv(bank_url)

withdraw_url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet=Withdraw_Info"
df_withdraw = pd.read_csv(withdraw_url)

In [6]:
df_case

,case_id,contact_id,case_status,user_issue,user_feedback,phone_called,priority
0,CASE001,C001,New,issues001,feedback001,yes,high
1,CASE002,C002,Complete,issues002,feedback002,no,medium
2,CASE003,C003,Working,issues003,feedback003,yes,low
3,CASE004,C004,New,issues004,feedback004,no,high
4,CASE005,C005,Complete,issues005,feedback005,yes,medium
5,CASE006,C006,Working,issues006,feedback006,no,low
6,CASE007,C007,New,issues007,feedback007,yes,high
7,CASE008,C008,Complete,issues008,feedback008,no,medium
8,CASE009,C009,Working,issues009,feedback009,yes,low
9,CASE010,C010,New,issues010,feedback010,no,high
10,CASE011,C011,Complete,issues011,feedback011,yes,medium
11,CASE012,C012,Working,issues012,feedback012,no,low
12,CASE013,C013,New,issues013,feedback013,yes,high
13,CASE014,C014,Complete,issues014,feedback014,no,medium
14,CASE015,C015,Working,issues015,feedback015,yes,low
15,CASE016,C016,New,issues016,feedback016,no,high
16,CASE017,C017,Complete,issues017,feedback017,yes,medium
17,CASE018,C018,Working,issues018,feedback018,no,low
18,CASE019,C019,New,issues019,feedback019,yes,high
19,CASE020,C020,Complete,issues020,feedback020,no,medium